{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 150
      }
    },
    {
      "files": "*.md",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
