.tip {
  padding: 0 32px;
}

.tip,
.try {
  margin-top: 16px;
}

.list {
  margin: 8px 0 0 0;
  padding: 0 16px 0 32px;
}

.list li:not(:last-child) {
  margin-bottom: 8px;
}

.list li a {
  line-height: 24px;
}

.tag {
  background-color: #e6e6e6;
  display: inline-block;
  border-radius: 4px;
  padding: 0px 4px;
  margin: 0 4px;
}

.user-wrapper {
  position: absolute;
  top: 16px;
  right: 16px;
}

.login {
  display: none;
}

.login.show {
  display: flex;
}

.login-link {
  border-radius: 4px;
  background-color: #008cc4;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  width: 48px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.login-link:hover {
  text-decoration: none;
}

.user {
  display: none;
  align-items: center;
}

.user.show {
  display: flex;
}

.username {
  margin-right: 8px;
}

.logout {
  border: none;
  border-radius: 4px;
  background-color: #008cc4;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  width: 48px;
  height: 24px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
